h1 {
    font-family: fantasy;
    background-color:  #D8E7EB;
    text-align: center;
}
body {
    background-color: #0C6991;
}

#button1 {
    font-style: italic;
    background-color: green;
  
}
#button2 {
    font-style: italic;
    background-color: yellow;

}
#button3 {
    font-style: italic;
    background-color: red;

}